html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}
.navbar {
    margin-bottom: 0px;
}
.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
.inputParent{
    position: relative;
    margin-top: 15px;
}
.removeBtnPosition{
    position: absolute;
    top: 0;
    right: 0;
}
.addChildInput{
    margin-top: 15px;
}
.addParentBtn{
    margin-top: 15px;

}
.error-block{
    display: none;
    color: red;
}
.selectCustom{
    position: relative;
}
.selectCustom-input{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.selectCustom-list {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 180px;
    border: 1px solid #777;
    overflow: auto;
    position: absolute;
    width: 100%;
    background: #fff;
    z-index: 1;
}
.openList{
    display: block!important;
}
.hoveredItem{
    background: red;
}
.selectCustom-item{
    padding:0 15px;
}
.selectCustom-item:hover{
    cursor: default;
}
.itemImage{
    cursor: pointer;
}
.product-form{
    max-width: 1170px;
    margin: 0 auto;
}
.block{
    width: 100%;
}
.previewItem {
    float: left;
    margin-right: 5px;
    position: relative;
    background: #fff;
    padding: 10px;
    height: 265px;
    border-radius: 3px;
    width: 229px;
    border: 1px solid #ccc;
    text-align: center;
    margin-bottom: 15px;
}

.previewItemLayer {
    display: none;
    background: rgba(0,0,0,0.3);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.previewItem:hover .previewItemLayer{
    display: block;
}
.setMainPic{
    position: absolute;
    border-radius: 0;
    display: inline-block;
    bottom: 34px;
    width: 100%;
    margin: 0 auto;
    left: 0;
}
.removePic{
    position: absolute;
    border-radius: 0;
    display: inline-block;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    left: 0;
}
.previewItem>img{
    max-width: 100%;
    height: auto;
    text-align: center;
}
.margin-bottom-15{
    margin-bottom: 15px;
}
.selectedMain {
    background: #ccc;
}
.input_display_inline{
    display: inline-block;
    margin-right: 50px;
}




/*================================*/
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    top: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
#menu-toggle {
    position: absolute;
    top: 0;
    left: -1px;
}
.hide_category{
    display: none;
}