@charset "UTF-8";

@font-face {
  font-family: 'FuturaPT-Book';
  src: url('../fonts/FuturaPT/futura-book/futura-book.eot') format('embedded-opentype'), url('../fonts/FuturaPT/futura-book/futura-book.woff') format('woff'), url('../fonts/FuturaPT/futura-book/futura-book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPT-Heavy';
  src: url('../fonts/FuturaPT/futura-heavy/futura-heavy.eot') format('embedded-opentype'), url('../fonts/FuturaPT/futura-heavy/futura-heavy.woff') format('woff'), url('../fonts/FuturaPT/futura-heavy/futura-heavy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoAz';
  src: url('../fonts/RobotoAz/RobotoAz.eot') format('embedded-opentype'), url('../fonts/RobotoAz/RobotoAz.woff') format('woff'), url('../fonts/RobotoAz/RobotoAz.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UltimaPro';
  src: url('UltimaPro.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'UltimaProBold';
  src: url('UltimaProBlack.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'UltimaProBlack';
  src: url('UltimaPro-Bold_0.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'UltimaProLt';
  src: url('UltimaProLt.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}



/*@font-face {*/
  /*font-family: 'GothamRounded-Medium';*/
  /*src: url('GothamRounded-Medium.ttf')  format('truetype');*/
  /*font-weight: normal;*/
  /*font-style: normal;*/
/*}*/
/*@font-face {*/
  /*font-family: 'GothamRounded-Bold';*/
  /*src: url('GothamRounded-Bold.eot?#iefix') format('embedded-opentype'),  url('GothamRounded-Bold.woff') format('woff'), url('GothamRounded-Bold.ttf')  format('truetype'), url('GothamRounded-Bold.svg') format('svg');*/
  /*font-weight: normal;*/
  /*font-style: normal;*/
/*}*/
/*@font-face {*/
  /*font-family: "GothamRoundedLight";*/
  /*src: url("GothamRoundedLight.ttf")  format('truetype');*/
  /*font-weight: normal;*/
  /*font-style: normal;*/
/*}*/
@font-face {
  font-family: "megamart-icons";
  src:url("../fonts/megamart-icons/megamart-icons.eot");
  src:url("../fonts/megamart-icons/megamart-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/megamart-icons/megamart-icons.woff") format("woff"),
    url("../fonts/megamart-icons/megamart-icons.ttf") format("truetype"),
    url("../fonts/megamart-icons/megamart-icons.svg#megamart-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "megamart-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="mm-icon-"]:before,
[class*=" mm-icon-"]:before {
  font-family: "megamart-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mm-icon-arrow-left:before {
  content: "\61";
}
.mm-icon-arrow-right:before {
  content: "\62";
}
.mm-icon-arrow-top:before {
  content: "\63";
}
.mm-icon-compare:before {
  content: "\64";
}
.mm-icon-facebook:before {
  content: "\65";
}
.mm-icon-google:before {
  content: "\66";
}
.mm-icon-like:before {
  content: "\67";
}
.mm-icon-menu:before {
  content: "\68";
}
.mm-icon-message:before {
  content: "\69";
}
.mm-icon-neighbor:before {
  content: "\6a";
}
.mm-icon-pin:before {
  content: "\6b";
}
.mm-icon-rectangle:before {
  content: "\6c";
}
.mm-icon-search:before {
  content: "\6d";
}
.mm-icon-twitter:before {
  content: "\6e";
}
.mm-icon-shop:before {
  content: "\6f";
}
.mm-icon-share:before {
  content: "\70";
}
.mm-icon-azn:before {
  content: "\71";
}