/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.navbar .dropdown > a > i{
		margin-left: 0;
	}

	.nav.navbar-nav .dropdown .button-text{
		display: none;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.btn{
		padding: 6px 20px;
	}
	.navbar-nav > li > a{
		font-size: 12px;
	}
	#header-main .contact > h4{
		font-size: 10px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.pull-right-xs{
	    float: right !important;
	}
	.pull-left-xs{
	    float: left !important;
	}

	#header-main{
		position: relative;
	}
	
	#header-main .img{
		margin: 0 auto;
	}

	#header-main .search{
		display: none;
		width: calc(100% - 40px);
		position: absolute;
		top: calc(50% - 25px);
		right: 20px;
	}

	#header-main .search.opened{
		display: table;
	}

	#header-main .search-container{
		position: inherit;
	}

	#hot-super-deals .slick-dots{
		left: auto;
		right: 20px;
		bottom: 20px;
	}

	#hot-super-deals .slick-arrow{
		display: none !important;
	}
	.card-news{
		padding: 16px 0 30px;
	}

	.black-header{
	    margin: 0 -20px;
	    padding: 0 20px;
	}
	#basket{
		width: 100%;
	}
	#basket .name{
		display: none;
	}
	.product-actions li:not(:first-child){
		margin-left: 0px;
	}
	.product-actions li{
		font-size: 12px;
	}
	.slider-desc{
		padding: 20px;
	}
	#hot-super-deals .discount{
		top: 20px;
		right: 20px;
	}
	#hot-super-deals .btn-primary{
		bottom: 20px;
	}
	#super-deals .super-deal-product{
		padding: 20px;
	}
	#basket a i{
		margin-right: 0;
	}
	.badge{
		font-size: 12px;
		width: 24px;
	}
	.badge:after{
		width: 24px;
		height: 24px;
		top: -5px;
	}
	.container .jumbotron, .container-fluid .jumbotron{
		height: 120px;
		line-height: 120px;
		margin-bottom: 0;
	}
	.jumbotron h2{
		background-color: #921000;
		font-size: 14px;
		padding: 4px;
	}
	.jumbotron h2 span{
		border: 1px dashed #D43B28;
		padding: 0 3px;
	}
	#sell-out{
		margin-bottom: 0;
	}
	.card-product{
		margin: 4px 10px 20px;
	}
	.card-product.white{
		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	}
	#sidebar-wrapper.opened{
		width: 250px;
	}
	#sidebar-wrapper.opened .sidebar-nav li a{
		width: 250px;
	}

	#sidebar-wrapper.opened .sidebar-nav li a span{
		opacity: 1;
	}

	.card-product.flip .product-img{
	    width: calc(60% - 20px);
	}
	.card-product.flip .product-description{
	    width: 40%;
	}
	.navbar-nav > li > a{
		text-align: center;
		height: 60px;
		line-height: 50px;
	}
	.category_list .category_drop {
		padding: 5px 30px 0 55px!important;
		font-size: 15px;
	}
	.category_list .category_drop span.glyphicon-menu-hamburger {
		left: 80px;
	}
	.nav .open>a{
		background-color: #000;
	}
	.nav>li>a:focus {
		text-decoration: none;
		background-color: #000;
	}
	.items-slider{
		margin: -4px -10px 0px;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.pull-right-sm{
	    float: right !important;
	}
	.pull-left-sm{
	    float: left !important;
	}
	.navbar-toggle{
		display: none !important;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.pull-right-md{
	    float: right !important;
	}
	.pull-left-md{
	    float: left !important;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.pull-right-lg{
	    float: right !important;
	}
	.pull-left-lg{
	    float: left !important;
	}
}
