.rate-order {
    padding-bottom:20px;
    width:50%
}

.rating-comment, textarea.change-rating-comment{
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}


.rating-list {
    text-align: left;
    display: inline-block;
    margin-bottom:30px;
    min-width:600px;
    max-width:1000px;
}

.rating-list .rating-item {
    border-bottom:1px solid #ccc;
    padding:5px;
    position:relative;
}
.rating-list .rating-item .review-comment {
    font-size: 16px;
}
.rating-list .rating-item .star-rating {
    margin-right: 50px;
}
.rating-list .rating-item .user {
    color: #f24f3b;
    font-weight: bold;
    font-size: 17px;
}
.rating-list .rating-item i.fa {
    position: absolute;
    right: 7px;
    top: 39px;
    cursor: pointer;
    color: #AAAAAA;
}


@media only screen and (max-width: 768px) {
    .rate-order {
        width:100%
    }
    .rating-list {
        min-width:250px;
    }
    .rating-list .rating-item .star-rating {
        margin-right: 0px;
    }
}