/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */
body{
    background: #F1F1F1;
}
a:focus {
    outline: 0;
    outline-offset: 0;
}
.btn-danger{
    background: #b83222;
}
.btn-primary:focus, .btn-primary.focus {
    outline: 0;
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: 0;
}
.nav>li>a {
    font-weight: bold;
    font-size: 13px;
}
.content_wrapper{
    max-width: 1500px;
    margin: auto;
}
#wrapper {

    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.form-control:focus {
     border-color: #e0e0e0;
     outline: 0;
     -webkit-box-shadow: none;
     box-shadow: none;
}
#sidebar-wrapper {
    display: none;
    overflow-x: hidden;
    z-index: 1000;
    position: fixed;
    left: 80px;
    width: 0;
    height: 100%;
    margin-left: -80px;
    overflow-y: auto;
    background: #3b3742;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 0;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 80px;
    margin: 15px 0;
    padding: 0;
    list-style: none;
}

.navbar .dropdown > a > i{
    font-size: 18px;
    float: right;
    margin-left: 20px;
}

.navbar-default .navbar-toggle i{
    margin-right: 10px;
    font-size: 18px;
    margin-top: -1px;
}

.navbar-default .navbar-toggle{
    margin: 15px auto;
    width: 100%;
    float: inherit;
    display: inherit;
    color: #fff;
    background-color: #3e3b45;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus{
    background-color: #3e3b45;
}
.navbar-default {
    z-index: 3!important;
}
#wrapper.sidebar-wrapper-opened #sidebar-wrapper{
    left: 250px;
    margin-left: -250px;
}

#wrapper.sidebar-wrapper-opened #sidebar-wrapper .sidebar-nav{
    width: 250px;
}

#wrapper.sidebar-wrapper-opened #sidebar-wrapper .sidebar-nav li a{
    width: 250px;
}

#wrapper.sidebar-wrapper-opened #sidebar-wrapper .sidebar-nav li a span{
    opacity: 1;
}

.sidebar-nav li a {
    position: relative;
    height: 60px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'FuturaPT-Heavy';
    color: #fff;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    width: 80px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a i{
    position: absolute;
    left: 26px;
    width: 24px;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    text-align: center;
    margin-right: 15px;
}

.sidebar-nav li a span{
    position: absolute;
    display: inline-block;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    left: 65px;
    height: 60px;
    line-height: 60px;
    opacity: 0;
    overflow: hidden;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#header-top{
    background-color: #920000;
    color: #fff;
    height: 50px;
}

#header-top .numbers{
    display: inline-block;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
}

#header-top>span{
    height: 50px;
    line-height: 50px;
}

#header-top span .clock-icon{
    margin-top: -5px;
}



#header-top li{
    display: inline-block;
    margin-right: 5px;
}

#header-top .pull-right>li{
    margin-left: 18px;
    margin-right: 0;
}

#header-top .static_pages li a{
    height: 50px;
    color: #fff;
    font-size: 12px;
    line-height: 50px;
    font-family: RobotoAz;
}
.btns-header div{
    display: inline-block;
}
.btns-header {
    padding: 13px 15px 15px;
}
.btns-header a{
    color: #fff;
}
#header-top li img{
    margin-top: -5px;
}
.nav li a{
    font-family: RobotoAz;
}
#header-main {
    background-color: #b83222;
    color: #fff;
    padding: 40px 0;
}

#header-main .logo{
    display: block;
    width: 100%;
    text-align: center;
}

#header-main .logo img{
    //margin: 0 auto;
}

#header-main > .container-fluid,
#header-main > .container-fluid > .row,
#header-main > .container-fluid > .row > div{
    height: 100%;
}

#header-main > .container-fluid > .row > div{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

#header-main .contact{
    text-align: right;
}

#header-main a.side-button{
    font-size: 24px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    width: 100%;
}

#header-main .contact > h4{
    font-family: UltimaPro;
    width: 100%;
}
#header-main .contact > h4 div:last-child {
    margin-top:0px;
    cursor: pointer;
    color: #ffd600;
    text-decoration: underline;
    font-size: 12px;
}

#header-main .contact a{
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

.search{
    width: 100%;
    position: relative;
    padding: 20px 0;
}

.search .btn{
    padding: 10px 60px 10px 15px !important;
    position: relative;
}

.search .btn i{
    position: absolute;
    right: 17px;
}

.search>form>button {
    position: absolute;
    top: 10px;
    right: 12px;
    z-index: 4;
    border: none;
    outline: 0;
    background: transparent;
    color: #3b3742;
}

.search input{
    background: #fff;
    border: 1px solid #fff;
    height: 40px;
    color: #000;
}

.search input::-webkit-input-placeholder {color:#cacaca;}
.search input::-moz-placeholder          {color:#cacaca;}/* Firefox 19+ */
.search input:-moz-placeholder           {color:#cacaca;}/* Firefox 18- */
.search input:-ms-input-placeholder      {color:#cacaca;}

.search .dropdown-toggle{
    height: 40px;
    padding: 10px 50px;
    border: 1px solid #fff;
}

.search .btn-default:hover, 
.search .btn-default:focus, 
.search .btn-default.focus, 
.search .btn-default:active, 
.search .btn-default.active, 
.search .open > .dropdown-toggle.btn-default, 
.search .btn-default:active:hover, 
.search .btn-default.active:hover, 
.search .open > .dropdown-toggle.btn-default:hover, 
.search .btn-default:active:focus, 
.search .btn-default.active:focus, 
.search .open > .dropdown-toggle.btn-default:focus, 
.search .btn-default:active.focus, 
.search .btn-default.active.focus, 
.search .open > .dropdown-toggle.btn-default.focus {
    border: 1px solid #fff;
}

.black-header {
    text-align: center;
    color: #f24f3b !important;
    height: 50px;
    line-height: 50px;
    margin: 18px -40px 10px;
    padding: 0 40px;
}
.black-header #buttons {
    font-size: 22px;
    background: #F1F1F1;
    padding: 0 26px;
    font-family: UltimaProBold;

}
.green-header{
    text-align: center;
    color: #666;
    height: 50px;
    border-bottom: 1px solid #eee;
    line-height: 50px;
    margin: 0 -40px !important;
    padding: 0 40px;
}
.green-header h5 {
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize!important;
    color: #f24f3b!important;
}
.slider-item{
    outline: 0;
    position: relative;
}
.green-header div{
    border-right: 1px solid #eee;
}
.slider-item:before,
#super-deals:before{
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#404040+0,3b3a3a+33,484848+67,717171+100&1+0,0.88+33,0.52+67,0+100 */
    background: rgba(107,107,107,0.54);
    background: -moz-linear-gradient(left, rgba(107,107,107,0.54) 0%, rgba(153,153,153,0) 56%, rgba(189,189,189,0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(107,107,107,0.54)), color-stop(56%, rgba(153,153,153,0)), color-stop(100%, rgba(189,189,189,0)));
    background: -webkit-linear-gradient(left, rgba(107,107,107,0.54) 0%, rgba(153,153,153,0) 56%, rgba(189,189,189,0) 100%);
    background: -o-linear-gradient(left, rgba(107,107,107,0.54) 0%, rgba(153,153,153,0) 56%, rgba(189,189,189,0) 100%);
    background: -ms-linear-gradient(left, rgba(107,107,107,0.54) 0%, rgba(153,153,153,0) 56%, rgba(189,189,189,0) 100%);
    background: linear-gradient(to right, rgba(107,107,107,0.54) 0%, rgba(153,153,153,0) 56%, rgba(189,189,189,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b6b6b', endColorstr='#bdbdbd', GradientType=1 );
    -webkit-border-radius: 35px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius: 35px;
    -moz-border-radius-topleft: 0;
    border-radius: 35px;
    border-top-left-radius: 0;
}

.slider-item .img{
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 300px;
}

.slider-desc{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    padding: 40px;
    z-index: 999;
}
.product-price .past-price .mm-icon-azn {
    font-size: 14px;
    position: absolute;
    top: -1px!important;
    margin-left: 2px;
}

#hot-super-deals{
    margin-top: 25px;
    color: #fff;
}

#hot-super-deals .lead{
    margin-top: 5px;
    margin-bottom: 30px;
}

#hot-super-deals .product-price{
    background: transparent;
    font-size: 20px;
}

#hot-super-deals .product-price .past-price:before{
    height: 2px;
    background: #fff;
}

#hot-super-deals .product-price .past-price{
    padding-right: 26px;
}

#hot-super-deals .product-price i.mm-icon-azn {
    top: 0!important;
    position: absolute;
    margin-left: 2px;
    font-size: 14px;
}
#hot-super-deals .product-actions{
    margin-top: 35px;
}

#hot-super-deals .product-actions a{
    color: #fff;
}

#hot-super-deals .product-actions li img{
    display: inline-block;
}

#hot-super-deals .discount{
    top: 40px;
    right: 40px;
    background-image: url(../img/rectangle-355.png);
    text-align: center;
    font-size: 20px;
    width: 73px;
    height: 52px;
    line-height: 52px;
}

#hot-super-deals .slick-arrow{
    top: auto;
    bottom: 30px;
}

#hot-super-deals .slick-next{
    right: 40px;
    z-index: 2;
}

#hot-super-deals .slick-dots{
    bottom: 40px;
    margin-bottom: 0;
    display: inline-block;
    width: auto;
    margin: 0 auto;
    left: 50%;
}

#hot-super-deals .slick-prev{
    right: 80px;
    left: auto;
    z-index: 2;
}

#hot-super-deals .btn-primary{
    position: absolute;
    bottom: 40px;
}

#hot-super-deals .slick-list{
-webkit-border-radius: 35px;
-webkit-border-top-left-radius: 0;
-moz-border-radius: 35px;
-moz-border-radius-topleft: 0;
border-radius: 35px;
border-top-left-radius: 0;
}

#hot-super-deals .slick-dots li{
    width: 10px;
    height: 10px;
    margin: 0 10px;
}

#hot-super-deals .slick-dots li button:before{
    content: '';
    background: #fff;
    width: 10px;
    height: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    opacity: 1;
}

#hot-super-deals .slick-dots li.slick-active button:before{
    background: #f24f3b;
}

#hot-deals-slider{
    height: 300px;
    margin-bottom: 0px;
    overflow: hidden;
}

.card-product{
    outline: 0;
    background-color: #F6F6F6;
    padding: 20px;
    text-align: center;
    -webkit-border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    position: relative;
    margin: 0 0 20px;
}
.card-product{}
/*.card-product:before{*/
    /*content: '';*/
    /*background-color: #19d3bf;*/
    /*height: 4px;*/
    /*width: 100%;*/
    /*position: absolute;*/
    /*top: -4px;*/
    /*left: 0;*/
/*}*/

.card-product.white{
    background-color: #fff;
}

.card-product.flip{
    margin: 0 0 30px 0;
}

.card-product.flip .product-img{
    width: calc(50% - 20px);
    display: inline-block;
    float: left;
}
.card-product.flip .product-description{
    width: 50%;
    display: inline-block;
    float: right;
}

.card-product.flip:after{
    content: '';
    clear: both;
    display: block;
}

.card-product.white .product-price{
    margin-bottom: 6px;
    background-color: #fff;
}

.card-product .product-img{
}

.card-product .product-img img{
    width: 100%;
}

.product-price {
    font-weight: bold;
    padding: 0;
    font-size: 23px;
    background-color: #fff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    height: 70px;
}
.product-price .past-price{
    position: relative;
    padding-right: 18px;
}

.product-price .past-price:before{
    content: '';
    position: absolute;
    top: 50%;
    left: -2px;
    width: 100%;
    height: 1px;
    background: #3b3742;
}
/*.product-price .past-price:after{*/
    /*content: "\f105";*/
    /*font-family: 'FontAwesome';*/
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
/*}*/
.product-price .past-price {
    position: relative;
    padding-right: 22px;
    padding-left: 3px;
    font-size: 14px;
    color: #f24f3b;
}
.product-price .past-price:before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 48%;
    left: -2px;
    width: 100%;
    height: 1px;
    background: #f24f3b;
}

.product-price .present-price,
.product-price-sum .present-price{
    margin-top: -7px;
    position: relative;
    font-size: 29px;
    font-family: UltimaProBlack;
}

.card-product .product-title{
    font-family: RobotoAz;
    margin: 14px 0 3px;
    color: #000;
}

.card-product-desc .present-price i.mm-icon-azn {
    font-size: 14px;
    top: 3px!important;
}

.product-title>h5{
    height: 35px;
}
.card-product .past-price{

}
.card-product .present-price{
    margin-left: 0!important;
}
.product-title a{
    font-family:"Open Sans",sans-serif!important;
    text-decoration: none!important;
    color: #737373;
}
.articul{
    font-family: "Open Sans", sans-serif;
    margin-bottom: 10px;
}
.product-actions{

    color: #999;
    font-family: RobotoAz;
    list-style: none;
    padding: 0;
    position: relative;
    margin: 20px 0 0;
}
.product-actions i{
    color: #999;
}
.product-actions a{
    text-decoration: none;
    font-size: 16px;
    float: left;
    height: 16px;
    width: 16px;
    margin-right: 3px;
}

.product-actions a.active{
    color: #f24f3b !important;
}

.product-actions li{
    cursor: pointer;

    display: inline-block;
}
.share_methods li{
    display: none;
}
.btn {
    padding: 6px 10px;
}
.product-actions li:not(:first-child){
    margin-left: 16px;
}

.product-actions li img{
    margin-top: -4px;
    width: 16px;
    height: 16px;
}

.card-news{
    padding: 16px 0 13px;
    border-top: 1px solid #e7e7e7;
}

.card-news .date{
    display: block;
    color: rgba(0, 0, 0, 0.3);
}
.navbar-nav {
    margin: -1px 0 0 0;
}
/*#sell-out{*/
    /*margin-bottom: 44px;*/
/*}*/


footer{

    margin-top: 40px;
    background-color: #eaeaea;
    padding: 20px 0 94px;
}

footer .copyright{
    margin-top: 15px;

}

footer ul{
    text-align: right;
    margin-top: 15px;
    list-style: none;
    padding: 0;
}

footer ul li{
    margin-top: 5px;
}

footer ul li a{
    color: #f24f3b;
}

footer ul li a:hover{
    color: #F96D5B;
}

@media(min-width:768px) {
    #sidebar-wrapper {
        width: 80px;
    }

    #wrapper.sidebar-wrapper-opened #sidebar-wrapper{
        width: 250px;
    }

    #page-content-wrapper {
        position: relative;
    }
}
.text-red {
    color: #f24f3b !important;
}

#super-deals{
    position: relative;
    height: 300px;
    background-size: auto 100%;
    background-position: center;
    -webkit-border-radius: 35px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius: 35px;
    -moz-border-radius-topleft: 0;
    border-radius: 35px;
    border-top-left-radius: 0;
}

#super-deals .super-deal-product{
    position: absolute;
    width: 100%;
    padding: 40px;
    height: 100%;
    z-index: 1;
}

/*i.mm-icon-azn{*/
    /*font-size: 10px;*/
    /*position: absolute;*/
    /*top: 3px;*/
    /*margin-left: 2px;*/
/*}*/

span.discount{
    display: inline-block;
    position: absolute;
    font-family: 'FuturaPT-Heavy';
    z-index: 10;
    right: 2px;
    top: 2px;
    width: 44px;
    color: #fff;
    line-height: 30px;
    height: 30px;
    background: url('../img/rectangle-351.png');
}

.slick-prev:before, .slick-next:before{
    font-family: 'megamart-icons';
}

.slick-prev:before {
    content: "\62";
}

.slick-next:before {
    content: "\61";
}

.slick-dots li button{
    width: 10px;
    height: 10px;
}
.buyButton {
    padding: 8px 50px;
    font-family: UltimaProBold;
}
.items-slider .glyphicon-menu-left,
.items-slider .glyphicon-menu-right,
.accessory-slider .glyphicon-menu-left,
.accessory-slider .glyphicon-menu-right {
    display: inline-block;
    color: #000;
    margin-top: -50px;
    top: 50%;
    padding: 25px 3px;
    position: absolute;
    z-index: 9;
    background: #ffd600;
    font-size: 33px;
    cursor: pointer;
}
.items-slider .glyphicon-menu-left{
    left: 7px;
}
.items-slider .glyphicon-menu-right{
    right: 7px;
}
.accessory-slider .glyphicon-menu-left{
    left: 7px;
}
.accessory-slider .glyphicon-menu-right{
    right: 2px;
}

.page-header {
    height: auto;
}
/*.items-slider{*/
    /*margin: -4px -15px 0px;*/
/*}*/

.jumbotron{
    background-size: cover;
    background-position: center;
}

.navbar-nav > li > a{
    height: 60px;
    line-height: 60px;
    padding: 0 10px;
}

.navbar-nav > li > a.dropdown-toggle{
    padding: 0 20px;
}

#product_img{
    margin: 0 auto;
}

.product_small_img img{
    width: 70px;
    height: 70px;
    border: 1px solid #f6f6f6;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    margin-bottom: 10px;
}

.product_small_img.active img{
    border-color: #f24f3b;
}

.card-product-desc{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color: #F6F6F6;
    padding: 20px;
    text-align: center;
    position: relative;
}

.card-product-desc .product-price{
    font-size: 20px;
}

.card-product-desc .product-price i.mm-icon-azn{
    font-size: 14px;
    top: 1px;
}

.card-product-desc .bonus{
    color: #f24f3b;
    font-family: "FuturaPT-Heavy";
    letter-spacing: 1px;
    border-bottom: 1px solid #fff;
    padding: 10px 20px 15px;
    margin: 0 -20px;
}
.card-product-desc .availability{
    color: #19d3bf;
    font-family: "FuturaPT-Heavy";
    letter-spacing: 1px;
    padding: 10px 20px 15px;
    margin: 0 -20px;
}
.card-product-desc > a{
    margin-top: 20px;
    display: block;
}

.card-product-desc .link-compare{
    font-family: "FuturaPT-Heavy";
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.card-product-desc .link-compare .mm-icon-compare{
    font-size: 20px;
    float: left;
}

.card-product-desc .link-compare span{
    margin-top: 2px;
    margin-left: 5px;
    display: inline-block;
}

.card-product-desc .product-actions{
    border-top: 1px solid #fff;
    padding: 20px 20px 10px;
    margin: 0 -20px 0;
}

#about_product .btn{
    display: block;
}


.search-form{
    position: relative;
}
#elastic {
    position: absolute;
    width: 100%;
    background: #fff;
    top: 40px;
    z-index: 11;
}
.itemBlock a {
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    float: left;
    width: calc(100% - 150px);
}
.itemBlock img{
    -webkit-border-radius: 50%!important;
    -moz-border-radius: 50%!important;
    border-radius: 50%!important;
    border: 1px solid #D3D3D3!important;
    padding: 3px;
    background: #fff;
    margin-right: 5px;
}

.selected{
    background: #F6F6F6;
}
.selected>a{
    color:#000;

}
.itemBlockBtn{
    float: right;
    background: #ffd600;
    border: 1px solid #ffd600;
    border-radius: 34px;
    margin-right: 10px;
    margin-top: 19px;
    color:#000;
    display: none;
}
.quantityBlock span{
    float: left;
}
.quantity input{
    width: 30px;
    display: inline-block;
}
.siteLoginSignUp>div{
    float: left;
}
.panel-hide{
    display: none;
}
#bucket_button {
  background-color: #ffd600;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  color: #f24f3b;
  position: fixed;
    top: 90px;
    right: 20px;
    opacity: 0.8;
  z-index: 50;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.bucket_count_span {
    position: absolute;
    top: -7px;
    font-weight: bold;
    margin: 0 auto;
    background: #000;
    right: -33px;
    padding-top: 2px;
    left: 0;
    text-align: center;
    z-index: 1;
    font-size: 12px;
    border-radius: 15px;
    height: 21px;
    width: 21px;
    color: #fff!important;
}
#bucket_button .glyphicon-shopping-cart{
    font-size: 25px;
    padding: 12px 15px 10px 12px;
}
#bucket_button .glyphicon-triangle-right {
    position: absolute;
    right: -9px;
    top: 18px;
    color: #ffd600;
}
#bucket_window {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: #fff;
  position: fixed;
  top: 0;
  right: -600px;
  max-width: 600px;
  height: 100%;
  width: 100%;
  z-index: 99999999999;
  overflow: hidden;
}

#bucket_window .bucket-item-count {
    border: none;
    border-radius: 5px;
}

#bucket_window .bucket-header {
  height: 80px;
  line-height: 80px;
}
#bucket_window .bucket-header .bucket-info {
  font-size: 20px;
  color: #ff4040;
  padding: 0 40px;
}
#bucket_window .bucket-header .bucket-info .fa-shopping-basket {
  font-size: 24px;
}
#bucket_window .bucket-header .fa-times {
  font-size: 20px;
  position: absolute;
  right: 40px;
  height: 80px;
  line-height: 80px;
  cursor: pointer;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
  transition: all 0.25s cubic-bezier(0.4, -0.04, 0.27, 1.01);
}
#bucket_window .bucket-header .fa-times:hover {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: all 0.25s cubic-bezier(0.4, -0.04, 0.27, 1.01);
  -moz-transition: all 0.25s cubic-bezier(0.4, -0.04, 0.27, 1.01);
  transition: all 0.25s cubic-bezier(0.4, -0.04, 0.27, 1.01);
}
#bucket_window .bucket-content {
  width: 100%;
  height: calc(100% - 230px);
  overflow: hidden;
  overflow-y: visible;
}
#bucket_window .bucket-content ul {
  list-style: none;
  display: block;
  padding: 5px 20px 0;
}
#bucket_window .bucket-content ul li {
  overflow: hidden;
    border: 1px solid #eee;
  height: 100px;
  width: 100%;
  border-radius: 5px;
}
#bucket_window .bucket-content ul li .bucket-item-img,
#bucket_window .bucket-content ul li .bucket-item-count,
#bucket_window .bucket-content ul li .bucket-item-price {
  display: inline-block;
  height: 100px;
  line-height: 100px;
}
#bucket_window .bucket-content ul li .bucket-item-img {
  float: left;
}
#bucket_window .bucket-content ul li .bucket-item-img img {
  margin: 27px;
}
#bucket_window .bucket-content ul li .bucket-item-name {
  display: inline-block;
    max-width: 205px;
    width: 100%;
  margin-right: 20px;
}
#bucket_window .bucket-content ul li .bucket-item-count {
  position: relative;
  display: inline-block;
}
#bucket_window .bucket-content ul li .bucket-item-count span {
    width: 42px;
    height: 36px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #19d3bf;
    outline: none;
    display: inline-block;
    line-height: normal;
    padding-top: 8px;
}
#bucket_window .bucket-content ul li .bucket-item-count input::-webkit-inner-spin-button,
#bucket_window .bucket-content ul li .bucket-item-count input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#bucket_window .bucket-content ul li .bucket-item-count input:focus {
  box-shadow: 0 0 5px 0px #19d3bf;
}
#bucket_window .bucket-content ul li .bucket-item-count .fa-angle-up,
#bucket_window .bucket-content ul li .bucket-item-count .fa-angle-down {
  display: block;
  width: 20px;
  height: 20px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  left: calc(50% - 10px);
}
#bucket_window .bucket-content ul li .bucket-item-count .fa-angle-up {
  top: 13px;
}
#bucket_window .bucket-content ul li .bucket-item-count .fa-angle-down {
  bottom: 8px;
}
#bucket_window .bucket-content ul li:hover {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
#bucket_window .bucket-content ul li .bucket-item-price {
  width: 100px;
  text-align: center;
}
#bucket_window .bucket-content ul li .fa-times {
  font-size: 16px;
  cursor: pointer;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
  transition: all 0.25s cubic-bezier(0.4, -0.04, 0.27, 1.01);
}
#bucket_window .bucket-content ul li .fa-times:hover {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: all 0.25s cubic-bezier(0.4, -0.04, 0.27, 1.01);
  -moz-transition: all 0.25s cubic-bezier(0.4, -0.04, 0.27, 1.01);
  transition: all 0.25s cubic-bezier(0.4, -0.04, 0.27, 1.01);
}
#bucket_window .bucket-footer {
  background-color: #f24f3b;
  width: 100%;
  height: 150px;
  position: absolute;
  bottom: 0;
  padding: 0 20px;
}
#bucket_window .bucket-footer .bucket-price-sum {
  height: 90px;
  line-height: 90px;
  color: #fff;
  text-transform: uppercase;
}
#bucket_window .bucket-footer .bucket-price-sum .price,
#bucket_window .bucket-footer .bucket-price-sum .key {
  display: inline-block;
}
#bucket_window .bucket-footer .bucket-price-sum .key {
  width: 100px;
}
#bucket_window .bucket-footer .bucket-price-sum .price .number {
  font-size: 24px;
}
#bucket_window .bucket-footer .btn {
  width: 100%;
  text-transform: uppercase;
  height: 42px;
  line-height: 42px;
  padding: 0;
}

#bucket_backdrop{
    display: none;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 50;

}

.scroll-bar-wrap {
  position: relative;
}
.scroll-box {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
.scroll-box::-webkit-scrollbar {
  width: .4em; 
}
.scroll-box::-webkit-scrollbar,
.scroll-box::-webkit-scrollbar-thumb {
  overflow:visible;
  border-radius: 4px;
}
.scroll-box::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.2); 
}
.cover-bar {
  position: absolute;
  background: #fff;;
  height: 100%;  
  top: 0;
  right: 0;
  width: .4em;
  -webkit-transition: all .5s;
  opacity: 1;
}
/* MAGIC HAPPENS HERE */
.scroll-bar-wrap:hover .cover-bar {
   opacity: 0;
  -webkit-transition: all .5s;
}

.basket-item{

    position: relative;
}
.product-price .mm-icon-azn{
    font-size: 14px;
    position: absolute;
    top: 17px!important;
    margin-left: 2px;
}
.product-price-sum .mm-icon-azn{
    font-size: 14px;
    position: absolute;
    top: 10px!important;
    margin-left: 2px;
}
.basket-item>div {
    border-right: 1px solid #eee;
    border-top: 1px solid #eee;
    height: 100px;
    padding: 14px 0;
    text-align: center;
}
table>thead>tr>th{
    text-align: center;
}
.table-bordered {
    border: none;
}
.basket-item:after{
    content: '';
    display: block;
    clear: both;
}

.basket-item .product-title{
    height: 20px;
    font-family: "Open Sans",sans-serif!important;
    font-size: 14px;
    line-height: 1.4;
    color: #000000;
}
.basket-item .product-title h5{
    font-family: "Open Sans",sans-serif!important;
}

.basket-item .product-bonus{
    font-family: FuturaPT-Heavy;
    font-size: 14px;
    letter-spacing: 1px;
    color: #f24f3b;
}
.increase{
    position: relative;
    color: #f24f3b!important;
}
.basket-sum{
    padding: 20px 0;
}

.basket-item span{
    display: inline-block;
    background-color: #fff;
    border: none;
    text-align: center;
}

.basket-item input::-webkit-inner-spin-button,
.basket-item input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.basket-item .bucket-item-count .fa {
    cursor: pointer;
    padding: 9px 14px;
    line-height: 18px;
    text-align: center;
}
.basket-item .bucket-item-count .fa-angle-up {
    border-right: 1px solid #eee;
}
.basket-item .bucket-item-count .fa-angle-down {
    border-left: 1px solid #eee;
}
.basket-item .product-price{
    font-family: Roboto-Bold;
    font-size: 14px;
    color: #3b3742;
    font-weight: bold;
}

.product-price-sum{
    font-weight: bold;
    font-size: 20px;
    color: #3b3742;
}

.push20{
    display: block;
    height: 20px;
}
.product-price{
    font-family: UltimaProBlack;
}
.basket-item .bucket-item-remove i{
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    line-height: 18px;
    text-align: center;
    cursor: pointer;
}

.valign-wrapper {
    max-width: 125px;
    margin: 0 auto;
}
.margin_class{
    padding-top: 32px;
}
.basket-item .product-title h5{
    text-align: left;
}
.basket-item img{
    display: inline-block;
    text-align: center;
}
/*.basket-item .basket-height{*/
    /*height: 128px;*/
/*}*/
.parent-node{
    position: relative;
}
.parent-node i {
    position: absolute;
    right: 10px;
    top: 7px;
    color: #ddd;
}
.parent-node ul {

    position: absolute;
    left: 100%;
    background: #FFFFFF;
    border: 1px solid #ddd;
    top: -5px;
    width: 100%;
    padding:5px 0;
    list-style-type: none;
}

.parent-node ul li a, .parent-node a {
    font-size: 14px;
}
.parent-node ul li a{
    padding: 5px 20px;
    display: inline-block;

}
.width100{
    width:calc(100% + 1px);
    padding: 5px 0 15px;
    margin-left: -1px;
}
.checkout-steps .col-lg-20{
    padding-left: 20px;
    padding-right: 20px;

}
.form-control {
    height: 35px;
    border-radius: 6px;
    border: solid 1px #e0e0e0;
}
.has-success .form-control{
    border: solid 1px #19d3bf;
}
.control-label{
    font-size: 14px;
    line-height: 1.4;
    font-weight: normal;
    color: #a7a7a7;
}
/*.checkout-block {*/
    /*background: #fff;*/
/*}*/
.custom_table{
    border: none;
}
.checkout-steps{
    padding: 40px;
}
.order_details_list>div{
    display: inline-block;
    padding: 10px;
}
.compareButton{
    font-size: 12px;
    font-family: UltimaPro;
}
.btn-group-custom .btn{
    margin-bottom: 10px;
    max-width: 180px;
    width: 100%;
}
.btn-group-custom .btn:last-child{
    margin-bottom: 0;
}
.line-bg {
    background: url("../img/bg.png") repeat-x;
    background-position-y: 21px;
}

header>nav #w0-collapse{
    max-width: 1500px;
    margin: 0 auto;
}
.breadcrumb{
    margin-top: 15px;
    margin-left: -20px;
    margin-bottom: 0px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-family: RobotoAz;
}
.page-header h1 {
    font-family: UltimaProBlack;
    font-size: 25px;
    margin: 10px 0;
}
#product{
    background: #fff;
    padding:20px;
    margin-bottom: 30px;
}
#about_product{
    background: #fff;
    padding:0 0 20px 0 ;
}
#about_product .tab-content{
    /*padding-left:0 !important;*/
    /*padding-right:0 !important;*/
}
#about_product .nav-tabs{
    background: #ffffff;
    padding: 0;
    border-bottom: 1px solid #d3d6db;
}
.nav-tabs>li:first-child a{
    border-left: 0!important;
}
.nav-tabs>li>a {
    border-radius: 0!important;
    padding: 0;
    height: 50px;
    padding-right: 20px;
    padding-left: 20px;
    border-right: 1px solid #d3d6db !important;
    margin-right: -1px;
    border-left: 1px solid #d3d6db !important;
}
#about_product .nav-tabs li a{
    color: #666;
}
#about_product table{
    font-family: "Open Sans",sans-serif!important;
}
#product{
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;}
.nav-tabs {
    margin-left: 0;
    margin-right: 0;

}
#about_product .tab-content{
    padding: 0 40px;
}
/*.product-description{*/
    /*overflow: hidden;*/
/*}*/
#about_product td{
    padding: 10px;
    background: #fff;
}
/*#about_product tbody>tr>td  {*/
    /*background: #eee!important;*/
/*}*/

.slick-prev {
    left: 15px;
    z-index: 999;
}
#basket{
    background: #fff;
    position: relative;
    margin-bottom: 0px;
}
.button_checkout button{
    width: 100%;
}
.page-header-block {
    margin: 35px 0 20px;
}
.product_image{
    display: block;
    border: 1px solid #eee;
    border-radius: 5px;
    text-align: center;
}
.product_image img{
    display: inline-block;
}
.bucket-item-count{
    border: 1px solid #eee;
    border-radius: 5px;
}
.quantity{
    padding: 0 10px;
}
.img_size{
    width: 80px;
}
.white_block{
    background: #fff;
    position: relative;
}
.checkout_headers{
    font-size: 26px;
    text-align: center;
    text-transform: uppercase;
    font-family: UltimaProBold;
}
.card-product .present-price .mm-icon-azn{
    top: 4px!important;
}
.card-product .past-price .mm-icon-azn{
    top: -1px!important;
}
.page-header .text-red{
    font-family: UltimaProBold;
}
.control-label{
    font-family: "Open Sans",sans-serif!important;
    font-size: 14px;
    color: #737373;
}
.form-control{
    font-family: "Open Sans",sans-serif!important;
}
.right_badge {
    width: 100%;
}

.left_badge{
    padding: 24px;
    font-size: 23px;
    text-align: right;
    text-transform: uppercase;
    font-family: UltimaProBold;
    color: #f24f3b;
}
.right_badge{
    background: #fff;
    margin-top: 0px;
    text-align: center;
    position: relative;
    font-size: 29px;
    font-family: UltimaProBlack;
    padding: 20px;
}
.right_badge i.mm-icon-azn {
    font-size: 14px;
    position: absolute;
    top: 29px;
    margin-left: 2px;
}
#buyed-with-this{
    margin-top: 30px;
}
.filters_list{
    background: #fff;
}
div.filters_list{
    padding:30px;
}

ul.filters_list{
    padding: 0 0 6px 0px;
}
ul.filters_list li{
    list-style-type: none;
}
.filters_list h3 {
    font-family: "Open Sans",sans-serif!important;
    font-size: 15px;
    color: #b83222;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.filter{
    font-weight: normal;
    font-family: "Open Sans",sans-serif!important;
}
.filter input {
    margin-right: 12px;
}
.switcher{
    cursor: pointer;
}
.list_container{
    border-bottom: 1px solid #eee;
    margin-top: 20px;
}
.height30{
    height: 30px;
    transition: all 0.3s;
    overflow: hidden;
}
.heading {
    text-align: left!important;
    font-size: 23px;
}
#slider-snap-value-lower,
#slider-snap-value-upper{
    width: 45%;
    display: inline-block;
}
div#slider-handles {
    margin: 0 auto 30px;
    max-width: 220px;
    margin-left: 17px;
}
.noUi-horizontal .noUi-handle {
    width: 20px!important;
    height: 20px!important;
    left: -17px;
    top: -7px;
    border-radius: 19px;
}

.noUi-horizontal {
    height: 8px!important;
}
.noUi-handle-lower,
.noUi-handle-upper{
    border: 6px solid #b83222!important;
}
.checkbox_span {
    cursor: pointer;
    margin-right: 5px;
}
.filters_list label{
    padding: 0;
}
.checkbox_span .fa-square-o{
    font-size: 15.3px;
}
.checkbox_attr{
    font-family: "RobotoAz";
    font-weight: normal!important;
    color: #777;
}
.white_block>span {
    border-bottom: 1px solid #eee;
    padding: 10px;
    text-align: center;
    width: 50%;
    display: inline-block;
    border-right: 1px solid #eee;
    font-weight: bold;
    font-size: 16px;
    color: #f24f3b;
    font-family: "Open Sans",sans-serif!important;
}
.white_block>span:first-child {
    border-right: 1px solid #eee;
}
.field-addressform-address,
.field-addressform-number{
    padding:0 20px;
}
.field-addressform-address label , .field-addressform-number label{
    font-weight: bold;
    font-size: 16px;
    color: #f24f3b!important;
    font-family: "Open Sans",sans-serif!important;
    padding: 22px 0;
    width: 100%;
}

.btn-block-tabs .checkout_btn {
    background: #fff;
    max-width: 50%;
    display: inline-block;
    border: 1px solid #eee;
    outline: none;
    padding: 10px;
    border-top: 0;
    font-family: RobotoAZ;
    font-weight: bold;
    font-size: 16px;
    color: #A9A9A9;
}
.btn-block-tabs .checkout_btn:first-child {
    border-left:0;
}
.btn-block-tabs .checkout_btn:last-child {
    border-right:0;
}

.active_btn {
    background: #fff!important;
    border-bottom: 0!important;
    color: #f24f3b!important;
    padding-bottom: 11px!important;
}
.btn-primary {
    font-family: UltimaProBold!important;
    padding: 8px 15px 6px;

}
.padding20{
    font-family: "Open Sans",sans-serif!important;
    padding: 20px;
}
.slick-track .card-product{
    margin: 0 7px 20px;
}
.google{
    background: #DC4A32;
}
.facebook{
    background: #507BBF;
}
.auth-link{
    color: #fff!important;
    text-decoration: none!important;
}
.auth-clients .auth-client .auth-link {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    padding: 8px 20px 9px 44px!important;
    border-radius: 20px;
}
.auth-link:hover{
    text-decoration: none;
    color: #fff;
}
.auth-clients {
    margin: 0;
    list-style: none;
    overflow: visible;
    padding: 1px 0 0 6px
}
.auth-client {
     float: none;
    margin-bottom:15px;
}
.divider-sm {
    width: 1px;
    height: 19px;
    display: inline-block;
    position: absolute;
    left: 43px;
}
.auth-client .auth-link .auth-title {
    display: inline-block;
    margin-top: 0;
    text-align: center;
    max-width: 142px;
    width: 100%;
}
.google .divider-sm{
    background: #DE7260;
}
.google i {
    position: absolute;
    left: 18px;
    top: 10px;
}
.facebook .divider-sm{
    background: #7193CA;
}
.facebook i {
    position: absolute;
    left: 18px;
    top: 10px;
}
.field-loginform-rememberme label{
    font-weight: normal;
    font-size: 13px;
}
.white_block .media{
    padding: 20px;
}
.centered {
    margin: 50px auto;
    padding: 20px 20px 60px;
    min-height: 150px;
}
.vertical_aligned{
    padding: 17px;
}

.btns-header a{
    margin-right: 5px;
}
.inline_menu ul li{
    display: inline-block;
    margin-right: 14px;
}
.text-wrapper {
    margin:30px auto 0;
    position: relative;
    text-align: justify;
}
.increased_height{
    max-height: 500px!important;
    transition: max-height 0.25s ease-in;
}
.read_more{

}

.background_opacity{
    text-align: center;
}
.text-block {
    max-height: 130px;
    padding-bottom: 50px;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
    color: #999;
    font-family: "Open Sans", sans-serif;
}
.background-block {
    background: url("../img/bg_opacity.png") repeat;
    position: absolute;
    width: 100%;
    text-align: center;
    height: 80px;
    bottom: 0;
    padding: 12px;
}
#read_more{
    margin-top: 40px;
    background: transparent;
    border: none;
    font-size: 26px;
    outline: none;
}

@media (max-width: 769px) {
 .page-header h1{
     font-size: 25px!important;
     margin-top: 15px;
 }
 .nav-tabs>li>a {
        padding-right: 10px;
        padding-left: 10px;
 }
 #about_product .tab-content {
        padding: 0 10px;
 }
 .bucket-footer .btn{
     font-size: 10px!important;
 }
    #bucket_window .bucket-content ul li {
        height: 110px!important;
    }
}

.category_drop .glyphicon{
    margin-right: 5px;
    color: #ffd600;
}

.category_drop .glyphicon-menu-hamburger {
    font-size: 22px;
    position: absolute;
    top: 18px;
    left: 44px;
}
.category_drop .caret{
    font-size: 15px;
}
.category_drop{
    color: #ffd600!important;
    padding:0 40px 0 85px!important;
    font-family: UltimaProBold!important;
}
.accessory .product-title h5 a{
    font-size: 12px;
}

.accessory .buyButton{
    font-size: 12px;
}
.accessory .product-price{
    height: 45px;
}

.accessory .present-price{
    font-size: 22px;
}
.sm_btn{
    font-size: 12px;
    font-family: RobotoAz!important;
    text-transform: lowercase;
    padding: 5px 11px;
}
.header_links{
    margin: 0;
    /*padding: 0 0 0 40px;*/
}
.header_links a {
    color: #fff;
    padding: 16px 18px;
    display: block;
    width: 50px;
    margin-top: -1px;
}

.header_links li{
    margin-left: -3px!important;
}
.btns-header .dropdown-toggle{
    display: inline-block;
    color: #fff;
}
.selected_lang{
    color: #000000!important;
    background-color: #ffd600;
}
.dropdown-toggle img{
    width: 34px;
     border-radius: 50px;
}
#header-top .static_pages{
    margin: -3px 0 0 0;
    padding: 0;
    list-style: none;
    height: 50px;
    line-height: 50px;
}
#header-top{
    font-size: 13px!important;
}
.social_block_icons li a{
    color: #000!important;
    font-size: 21px;
}
.share_methods {
    border: 1px solid #eee;
    z-index: 1;
    display: none;
    padding: 0;
    position: absolute;
    width: 100%;
    background: #fff;
    padding:10px;
    border-radius: 15px;
    top: -60px;
}
.share_methods li a{
    font-size: 25px;
    display: block;
    width: auto;
    height: auto;
    line-height: 1;
}
.shadow_backdrop{
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: #DCDCDC;
    opacity: .6;

}
@media (min-width: 768px){
    .modal-dialog {
        width: 600px;
        margin: 115px auto;
    }
}
/*.profile_menu{*/
    /*padding: 8px;*/
/*}*/
@media (max-width: 1303px){
    .top_categories li a{
        padding: 0 3px;
    }
    .category_list .category_drop{
        padding: 0 30px 0 55px!important;
    }
    .category_list .category_drop span{
        left: 20px;
    }
}
@media (max-width: 1152px){
    .top_categories li a{
        font-size: 12px;
    }
    /*.category_list .category_drop {*/
        /*padding: 0 30px 0 45px!important;*/
    /*}*/
    /*.category_list .category_drop span {*/
        /*left: 15px;*/
    /*}*/
    /*.category_list .category_drop{*/
        /*padding: 0 30px 0 55px!important;*/
    /*}*/
    /*.category_list .category_drop span{*/
        /*left: 20px;*/
    /*}*/
}
#header-top li:last-child {
    margin-right: 0!important;
}
@media (max-width: 1415px){
    .static_pages li:nth-child(1){
        display: none!important;
    }
}
@media (max-width: 1224px){
    .static_pages li:nth-child(2){
        display: none!important;
    }
}
@media (max-width: 1163px){
    .static_pages li:nth-child(3){
        display: none!important;
    }
}
@media (max-width: 1004px){
    .static_pages li:nth-child(4){
        display: none!important;
    }
}
@media (max-width: 903px){
    .static_pages li:nth-child(5){
        display: none!important;
    }
}
@media (max-width: 800px){
    .static_pages{
        display: none!important;
    }
}
@media (max-width: 1082px){
    .top_categories li a{
        font-size: 11px;
    }
}
@media (max-width: 1030px){
    .top_categories li a{
        font-size: 10px;
    }
}
@media (max-width: 992px){
    .top_categories li a{
        font-size: 10px!important;
    }
    .top_categories li:first-child{
        display: none;
    }
}
@media (max-width: 811px){
    .top_categories li a{
        font-size: 10px!important;
    }
    .top_categories li:nth-child(2){
        display: none;
    }
}
.dropdown-menu>li>a {
    display: block;
    padding: 5px 20px;
    clear: both;
    word-wrap: break-word;
    font-weight: normal;
    line-height: 1.42857143;
    width: 100%;
    color: #333;
    white-space: nowrap;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
.name_span{
    font-family: 'Open Sans',sans-serif;
    color: #fff;

}
.profile_drp {
    text-decoration: none!important;
    display: inline-block;
}
.profile_menu .dropdown-menu{
    top: 39px;
}
.profile_menu .dropdown-menu li{
    margin-right: 0!important;
    display: block!important;
}
.profile_drp img{
    margin-right: 5px;
    display: inline-block;
}
.site-signup{
    background: #FFFFFF;
}
#form-signup,#login-form{
    padding: 20px;
}
.site-login{
    position: relative;
}
.site-login .auth-clients{
    padding: 20px 0;
}
.vertical_line {
    position: absolute;
    height: 100%;
    left: 50%;
    background: #eee;
    width: 1px;
    top: 12%;
    margin-left: -1px;
}

.tick_img img{
    width: 90px;
    height: auto;
    display: inline-block;
}
.gray_head{
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: 0.6px;
    color: #a7a7a7;
    margin:40px 0 15px;
}

.black_text .text-center{
    font-weight: bold;
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: 0.6px;
    color: #000000;
}
.side_pic {
    position: absolute;
    top: 66px;
}
.side_pic img{
    max-height: 180px;
}
.success_block{
    position: relative;
}
.success_block h2{
    margin-top: 30px;
}
.left_pic{
    left: 40px;
}
.right_pic{
    right: 40px;
}
.tick_img{
    margin-top:15px;
    display: inline-block;
    margin-bottom: 25px;
}

.mobile-navbar{
    box-shadow:0 2px 30px rgba(43, 43, 43, 0.25);
}
.mobile-navbar .category_drop{
    background-color: #000000;
}
.mobile-navbar .navbar-nav > li > a:hover{
    background-color: #000000;
}
.inner_page{
    text-decoration: none;
}
.inner_page h3{
    margin-top: 24px;
    font-size: 19px;
    color: #f24f3b;
}

.table_headers th{
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize!important;
    color: #f24f3b!important;
}
.white_block table{
padding: 20px;
}
.table>thead:first-child>tr:first-child>th{
    border-bottom: 0;
}
.super-deal-product h2 a {
    color: #fff;
}
.price_tag i{
    margin-left: 5px;
}
.side-button{
    color: #FFFFFF;
}
.field-user-file{
    max-width: 400px;
    margin: 15px auto;
}
.client_code{
    margin-bottom: 34px;
    font-family: "Open Sans",sans-serif;
    color: #f24f3b !important;
    font-size: 19px;
    font-weight: bold;
}
.edit-profile .control-label{
    font-family: "Open Sans",sans-serif;
    color: #f24f3b !important;
    font-size: 16px;
}
.field-user-date_birtday .well-sm{
    margin: 0 auto;
}
.footer_text_success{
    font-family: UltimaPro;
    margin-bottom: 25px;
    font-size: 18px;
}
.black_text{
    font-family: UltimaPro;
}
.overlay {
    position: absolute;
    background: #fff;
    width: 100%;
    opacity: 0.8;
    height: 100%;
    top: 0;
    left: 0;
}
sup {
    top: -4px;
}
.work_time{
    font-family: UltimaPro;
}
.site-error{
    margin: 40px 0 0;
    min-height: 270px;
}
@media (max-width: 768px){
    .parent-node ul {
         position: relative;
        left:0;
        background: transparent;
        border: 1px solid #ddd;
        top: -5px;
        width: 100%;
        padding: 5px 10px 5px 20px;
        list-style-type: none;
        border: none;
    }
}